.container{
    width: 200px;
    height: 0 auto;
    border: 1px solid black;
    border-radius: 2px 4px 2px;
    margin:200px;

}
input[type=text],
input[type=password]{
    color: green;
    background-color: blueviolet;
}
input:hover{
    background-color: blue;
}